
**/.DS_Store
.AppleDouble
.LSOverride

._*

**/target/
**/out/
**/build/

*.iml
**/.idea/

**/.vscode/


*.log

.env
**/venv/
**/__pycache__/

**/.mvn/wrapper/maven-wrapper.jar


*.swp
*.swo

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.properties

.yml

### React ###
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

### Maven ###
.mvn/
mvnw
mvnw.cmd

demo_pineline/data/*.csv
demo_pineline/data/simulated

# Large data files
demo_pineline/step7_qlearning/data/*.csv
submit_fjcai/*.csv

submit_fjcai/code/moodle_analytics_pipeline/data/*.csv
submit_fjcai/code/step7_qlearning/data/*.csv
Draft/demo_pineline/data/
